{% assign stringVar = "This is a string!" %}
{% assign numberVar = 2021 %}
{% assign booleanVar = true %}
<div>
  <p>{{ stringVar }}</p>
  <p>{{ numberVar }}</p>
  <p>{{ booleanVar }}</p>
</div>

{% if stringVar == "This is a String!" %}
  The variable content is a string value!
{% elsif stringVar == 2021 %}
  The variable content is a number value!
{% else %}
  The variable content is a boolean value!
{% endif %}

{% assign percent = 15 %}
{% assign deal = "three or more" %}

{% capture promoMessage %}
  If you order {{ deal }} books, you can receive up to a {{ percent }}% discount!
{% endcapture %}

{{ promoMessage }}